<launch>

<!--include file="$(find gazebo_ros)/launch/empty_world.launch"/-->

  <param name="robot_description" textfile="/home/zx/.gazebo/models/mbzirc/robot1.urdf"/>

  <node name="spawn_simplerobot" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
           -urdf
           -model simplerobot"
        respawn="false" output="screen"/>

<node name="joint_state_publisher2" pkg="joint_state_publisher" type="joint_state_publisher" />
<node name="robot_state_publisher2" pkg="robot_state_publisher" type="state_publisher" />
<!--node name="rviz" pkg="rviz" type="rviz" / -->

</launch>

